@model App.ViewModel.TraineeUserCourseViewModel
@{
    ViewBag.Title = "AssignCourseTrainee";
}

<h2>AssignCourseTrainee</h2>


@using (Html.BeginForm("AssignCourseTrainee", "Staff", "POST"))
{
    <div class="form-group">
        @Html.DisplayFor(model => model.User.UserName)
        @Html.HiddenFor(model => model.User.Id)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TraineeUser.Course.Name)
        @Html.DropDownListFor(model => model.TraineeUser.CourseId, new SelectList(Model.Courses, "Id", "Name"))
    </div>
    <div class="form-group">
        @Html.ActionLink("Cancel", "TraineeList", "Staff", null, new { @class = "btn btn-default" })
        <button type="submit" class="btn btn-success">Assign Course</button>
    </div>
}