@model App.Models.RegisterViewModel
@{
    ViewBag.Title = "ChangePasswordTrainer";
}

<h2>ChangePasswordTrainer</h2>

@Html.ActionLink("Back to Home", "TrainerList", "Staff",
    null,
    new { @class = "btn btn-primary" })

@using (Html.BeginForm("ChangePasswordTrainer", "Staff", "POST"))
{
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save Change</button>
    </div>
}