@model IEnumerable<App.Models.Course>
@{
    ViewBag.Title = "CourseList";
}


<h2>List Course</h2>
<div class="form-group">
    @Html.ActionLink("Back to Home", "Index", "Home", null, new { @class = "btn btn-default" })
</div>

<div class="form-group">
    @Html.ActionLink("Create New Course", "CreateCourse", "Staff", null, new { @class = "btn btn-success" })
</div>


@using (Html.BeginForm("CourseList", "Staff", FormMethod.Get))
{
    <div class="form-group">
        @Html.TextBox("searchString", "")
        <button type="submit"><i class="fa fa-search"></i></button>
    </div>
}


<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>Course Name</th>
            <th>Category Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Category.Name</td>
                <td>
                    @Html.ActionLink("Details", "CourseDetails", "Staff", new { id = item.Id }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Edit", "EditCourse", "Staff", new { id = item.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "DeleteCourse", "Staff", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>

            </tr>
        }
    </tbody>
</table>
