@model App.Models.Category
@{
    ViewBag.Title = "CreateCategory";
}

<h2>CreateCategory</h2>

@Html.ValidationSummary(false, "", new { @class = "bg-danger" })

@using (Html.BeginForm("CreateCategory", "Staff", "POST"))
{
<div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })

</div>
<div class="form-group">
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
</div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create Category</button>
        @Html.ActionLink("Back to List", "CategoryList", "Staff", null, new { @class = "btn btn-primary" })
    </div>
}