@model IEnumerable<App.Models.TraineeUser>
@{
    ViewBag.Title = "TraineeList";
}

<h2>List Trainee Account</h2>

<div class="form-group">
    @Html.ActionLink("Back to Home", "Index", "Home", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Create Trainee Account", "CreateTrainee", "Staff", null, new { @class = "btn btn-primary" })
</div>

@using (Html.BeginForm("TraineeList", "Staff", "POST"))
{
    <div class="form-group">
        @Html.TextBox("searchString", "")
        <button type="submit"><i class="fa fa-search"></i></button>
    </div>
}

<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>Trainee Name</th>
            <th>Phone Number</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FullName</td>
                <td>@item.Telephone</td>

                <td>


                    @Html.ActionLink("Assign Course", "AssignCourseTrainee", "Staff", new { id = item.Id }, new { @class = "btn btn-success" })
                    @Html.ActionLink("View Course", "ViewCourseAssignedTrainee", "Staff", new { id = item.Id }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Detail Profile", "TraineeProfile", "Staff", new { id = item.Id }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Update Profile Trainee", "UpdateProfileTrainee", "Staff", new { id = item.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "DeleteTrainee", "Staff", new { id = item.Id }, new { @class = "btn btn-danger" })
                    @Html.ActionLink("Reset Password", "ResetTrainee", "Account", new { id = item.Id }, new { @class = "text-info" })
                </td>

            </tr>
        }
    </tbody>
</table>
