@model App.Models.TraineeUser
@{
    ViewBag.Title = "UpdateProfileTrainee";
}

<h2>UpdateProfileTrainee</h2>


@using (Html.BeginForm("UpdateProfileTrainee", "Staff", "POST"))
{
    <div class="form-group">
        @Html.LabelFor(model => model.EmailAddress)
        @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FullName)
        @Html.TextBoxFor(model => model.FullName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Telephone)
        @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DateOfBirth)
        @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "form-control", @type = "date" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Department)
        @Html.TextBoxFor(model => model.Department, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ToeicScore)
        @Html.TextBoxFor(model => model.ToeicScore, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.mainProgrammingLanguage)
        @Html.TextBoxFor(model => model.mainProgrammingLanguage, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Confirm changes</button>
    </div>
}